.parentBox {
  margin: 0 auto;
  height: max-content;
  width: max-content;
}

/* Exercise 1 */

.ex1ParentBox {
  margin: 0 auto;
  /* height: 410px; */
  width: 350px;
  border: 2px dotted rgba(128, 128, 128, 0.486);
  border-left: none;
  border-right: none;
  padding: 20px;
  text-align: center;
}

.pinkBox {
  background-color: rgb(228, 111, 130);
  width: 230px;
  height: 230px;
  margin: 20px auto;
  padding: 20px;
}

.blueBox {
  width: 220px;
  height: 220px;
  border: 5px solid #000;
  background-color: rgb(63, 194, 218);
}
.greenBox {
  margin: 20px;
  width: 180px;
  height: 180px;
  border: 0px;
  background: #00ffed;
}

.contentBox {
  display: inline-block;
  height: 10px;
  width: max-content;
  margin-right: 10px;
}

.paddingBox {
  display: inline-block;
  height: 10px;
  width: max-content;
  margin-right: 10px;
}

.borderBox {
  display: inline-block;
  height: 10px;
  margin-right: 10px;
}

.marginBox {
  display: inline-block;
  height: 10px;
}

.bullet1 {
  height: 16px;
  width: 16px;
  background-color: #00ffed;
  border-radius: 50%;
  display: inline-block;
}

.bullet2 {
  height: 16px;
  width: 16px;
  background-color: rgb(63, 194, 218);
  border-radius: 50%;
  display: inline-block;
}

.bullet3 {
  height: 16px;
  width: 16px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.bullet4 {
  height: 16px;
  width: 16px;
  background-color: rgb(228, 111, 130);
  border-radius: 50%;
  display: inline-block;
}

.bottomBox p {
  display: inline-block;
}

/* Exercise 2 */

.ex2ParentBox1 {
  margin: 0 auto;
  width: 397px;
  border-bottom: 2px dotted rgba(128, 128, 128, 0.486);
  border-left: none;
  border-right: none;
  padding: 20px;
  text-align: center;
}

.ex2ParentBox1 p {
  font-family: "Syne Mono", monospace;
}

.ex2OuterBoxes {
  height: 91px;
  width: 383px;
  margin: 5px 0px;
  border: 2px solid grey;
  padding: 0 4.5px;
}

.ex2NoBorderBoxes {
  height: 75px;
  width: 120px;
  margin: 8px 2.5px;
  background-color: grey;
  display: inline-block;
}
.onePxBorder div {
  border: 1px solid black;
}
.onePxBorder {
  height: max-content;
}
.onePxBorder div:last-child {
  display: block;
  margin-top: 0;
}
#ex2OutterInnerBox {
  border: none;
  display: block;
  width: 260px;
}
#ex2OutterInnerBox div {
  display: inline-block;
}
